<!-- wp:template-part {"slug":"header","theme":"marketing-firm","tagName":"header"} /-->

<!-- wp:pattern {"slug":"marketing-firm/banner"} /-->

<!-- wp:spacer {"height":"30px"} -->
<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","className":"services-box project-section","layout":{"type":"constrained","contentSize":"80%"}} -->
<main class="wp-block-group services-box project-section"><!-- wp:pattern {"slug":"marketing-firm/project-section"} /--></main>
<!-- /wp:group -->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:pattern {"slug":"marketing-firm/about-us-section"} /-->
<!-- wp:pattern {"slug":"marketing-firm/testimonials-section"} /-->
<!-- wp:pattern {"slug":"marketing-firm/faq-section"} /-->
<!-- wp:pattern {"slug":"marketing-firm/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"marketing-firm","tagName":"footer"} /-->
